<!DOCTYPE html>

<head>
    <title>Users Data</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div class = "header">
        <h1>DHISHNA</h1>
    </div>
    <div class="hl"></div>
    <div class="nav">
        <h2>User Details</h2>
    </div>
    <div class="hl"></div>
    <div class = "content">
        <form action="/view">
        <input type="submit" value="Show user details">
    </form>
    </div>
</body>